.title {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Jost', sans-serif;
}

.heading {
    font-size: 32px;
    font-family: 'Jost', sans-serif;
}

.lead {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--violet);
    padding: 100px 0px;
}

.text {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: var(--grey);
}

.quote {
    font-style: italic;
    font-family: 'Jost', sans-serif;
    color: var(--grey);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.content {
    padding: 0px 10px;
    margin: 0px;
}

.tick {
    font-size: 50px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
