.container {
    text-align: center;
    background-color: var(--violet);
    color: var(--grey);
    border-radius: 5px;
    width: 250px;
}

.image {
    height: 150px;
    padding-left: 8px;
    padding-top: 8px;
}

.info {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    padding: 6px;
}
