.container {
    text-align: center;
}

.image {
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}

.skillsContainer,
.bioContainer {
    padding-bottom: 64px;
}

.skillsContainer {
    padding-top: 42px;
}

.bioContainer {
    margin-top: -64px;
}

@media screen and (min-width: 800px) {
    .image {
        width: 400px;
    }
}

@media screen and (min-width: 650px) {
    .image {
        width: 300px;
    }

    .bioContainer {
        margin-top: 0px;
    }

    .skillsContainer {
        padding-top: 0px;
    }
}

@media screen and (min-width: 400px) {
    .image {
        width: 250px;
    }
}

.button {
    display: inline-block;
    background-color: unset;
    border: 2px var(--violet) solid;
    border-radius: 5px;
    padding: 12px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    color: var(--lilac);
    text-decoration: none;
    margin-bottom: 24px;
}

.section {
    padding: 200px 10px 64px 10px;
}

.font {
    color: var(--violet);
}

.info {
    color: var(--mauve);
}
