.container {
    margin: 0;
}

.top {
    background: url('../../assets/SVG/newbg.svg');
    background-size: cover;
    height: 800px;
}

/* @media (max-width: 2000px) {
    .top {
        height: 856px;
    }
} */

@media (max-width: 1440px) {
    .top {
        height: 600px;
    }
}

.discover {
    display: inline-block;
    background-color: unset;
    border: 2px var(--lilac) solid;
    border-radius: 5px;
    padding: 12px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    color: var(--violet);
    text-decoration: none;
}

.features {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 24px;
}

.seal {
    display: flex;
    font-family: 'Jost', sans-serif;
    color: var(--light-blue);
    align-items: center;
    justify-content: center;
}
