.container {
    margin: 0;
}

.top {
    background: url('../../assets/SVG/newbg.svg');
    background-size: cover;
    height: 1068px;
}

.caption {
    padding-top: 200px;
    padding-left: 120px;
    font-weight: bold;
    font-size: 48px;
    font-family: 'Jost', sans-serif;
}

.text {
    padding-left: 120px;
    font-size: 32px;
    font-family: 'Jost', sans-serif;
}

.discover {
    background-color: unset;
    border: 2px var(--lilac) solid;
    border-radius: 5px;
    padding: 12px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    color: var(--violet);
    margin-left: 120px;
}

.features {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--dark-blue);
    padding-bottom: 24px;
}

.quote {
    font-style: italic;
    font-family: 'Jost', sans-serif;
    color: var(--light-blue);
    font-size: 18px;
    padding: 24px 64px 24px 64px;
    background-color: var(--dark-blue);
}

.seal {
    display: flex;
    background-color: var(--dark-blue);
    font-family: 'Jost', sans-serif;
    color: var(--light-blue);
    align-items: center;
    justify-content: center;
}

.sealText {
    width: 300px;
    padding-left: 40px;
}
