@import '../../utils/colorTheme.module.css';

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
}

.slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-content: space-between;
}

.btnScroll {
    height: 50px;
    width: 50px;
    background-color: unset;
    border: none;
    align-self: center;
    cursor: pointer;
}

.btnScroll:focus {
    outline: none;
}

.picContainer {
    width: 600px;
    height: 600px;
    border: none;
}

.image {
    object-fit: contain;
    width: 600px;
    height: 600px;
}

.data {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.name {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: var(--grey);
    font-size: 40px;
}

.fact {
    font-family: 'Jost', sans-serif;
    color: var(--grey);
    font-size: 16px;
}

.buttonContainer {
    align-self: center;
    margin-left: auto;
}
.btnReservation {
    background-color: unset;
    border: 2px var(--lilac) solid;
    border-radius: 5px;
    padding: 12px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    color: var(--grey);
}

.btnReservation:focus {
    outline: none;
}

.preview {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

.thumbnail {
    height: 150px;
}

.button:focus {
    outline: none;
}
