:root {
    --dark-blue: #16162e;
    --dark-grey: #373737;
    --grey: #ccd6eb;
    --light-blue: #669ff6;
    --lilac: #ac9cf6;
    --mauve: #ae76a6;
    --violet: #74226c;
    --dark-violet: #4b2142;
}
